In [57]:
import json
import os
import sys

import branca
import branca.colormap as cm
import geopandas as gpd
import numpy as np
import pandas as pd
import json 

sys.path.insert(0, "../src")
from BrusselsMap import BrusselsMap
from GeoJsonHandler import GeoJsonHandler
from OSMGeoJsonHandler import OSMGeoJsonHandler

pd.set_option("display.max_rows", 500)
pd.set_option("display.max_columns", 500)

import warnings
warnings.filterwarnings('ignore')

In [58]:
cars = pd.read_csv("../data/ChargingPointsCheck/TF_CAR_HH_SECTOR.csv", encoding = "utf-8")
pop = pd.read_csv("../data/ChargingPointsCheck/population_stats_sectors.csv", encoding = "utf-8")

In [59]:
cars = cars[['CD_STAT_SECTOR', 'TX_REFNIS_DESCR_FR', 'MS_NUM_CAR']]
cars.head()

  CD_STAT_SECTOR TX_REFNIS_DESCR_FR  MS_NUM_CAR
0      11053A381         Wuustwezel         287
1      11053A391         Wuustwezel          27
2      11053A400         Wuustwezel         531
3      11053A480         Wuustwezel          64
4      11053A49-         Wuustwezel         195

In [60]:
pop = pop[['CD_SECTOR', 'TX_DESCR_FR', 'POPULATION']]
pop.rename(columns={'CD_SECTOR':'CD_STAT_SECTOR', 'TX_DESCR_FR':'TX_REFNIS_DESCR_FR'}, inplace=True)
pop.head()

  CD_STAT_SECTOR TX_REFNIS_DESCR_FR  POPULATION
0      11001A00-         Aartselaar        2490
1      11001A01-         Aartselaar        2755
2      11001A020         Aartselaar         732
3      11001A030         Aartselaar         431
4      11001A042         Aartselaar         351

In [61]:
pd.merge(pop, cars, on=['CD_STAT_SECTOR','TX_REFNIS_DESCR_FR'], how='left')

      CD_STAT_SECTOR TX_REFNIS_DESCR_FR  POPULATION  MS_NUM_CAR
0          11001A00-         Aartselaar        2490      1322.0
1          11001A01-         Aartselaar        2755      1494.0
2          11001A020         Aartselaar         732       432.0
3          11001A030         Aartselaar         431       237.0
4          11001A042         Aartselaar         351       238.0
...              ...                ...         ...         ...
20370      93090H000          Viroinval         245       116.0
20371      93090H012          Viroinval          66        42.0
20372      93090H063          Viroinval          22        10.0
20373      93090H091          Viroinval          29        17.0
20374      93090ZZZZ          Viroinval           0         0.0

[20375 rows x 4 columns]

In [62]:
with open('../data/ChargingPointsCheck/RBC_stat_sectors_2021.json') as f:
    data = json.load(f)

gdf = gpd.GeoDataFrame.from_features(data["features"])
gdf.head()

sectors = gdf[['Sector', 'T_SEC_FR']]
sectors.rename(columns={'Sector':'CD_STAT_SECTOR'}, inplace=True)
sectors.head()

  CD_STAT_SECTOR      T_SEC_FR
0      21001A00-    RESISTANCE
1      21001A011    KLEINMOLEN
2      21001A02-         WAYEZ
3      21001A031    RAUTER-SUD
4      21001A041  VEEWEYDE-SUD

In [63]:
len(sectors)

724

In [72]:
dff= pd.merge(sectors, cars, on='CD_STAT_SECTOR', how='left')
dff.fillna(0, inplace=True)
dff['MS_NUM_CAR'].astype(int)
dff.head()

  CD_STAT_SECTOR      T_SEC_FR TX_REFNIS_DESCR_FR  MS_NUM_CAR
0      21001A00-    RESISTANCE         Anderlecht       559.0
1      21001A011    KLEINMOLEN         Anderlecht       671.0
2      21001A02-         WAYEZ         Anderlecht       151.0
3      21001A031    RAUTER-SUD         Anderlecht       410.0
4      21001A041  VEEWEYDE-SUD         Anderlecht       707.0

In [74]:
dff['MS_NUM_CAR'].sum()

324243.0

In [76]:
# Nombre de garages privés
96053

96053

In [77]:
324243-96053

228190