`Author: Victor Radermecker | Date: 11/10/2021 | Project: Master Thesis`

This Notebook generates the Proximus Hourly Dataset.

In [79]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [80]:
colnames = ['NAME_FRE', 'REGULAR', 'IRREGULAR']

prox = pd.read_csv("../data/proximus/proximusFrequentTrip_RandomlyGenerated.csv")
prox.drop(columns=['Unnamed: 0'])
prox.head()

,Unnamed: 0,originNB,destinationNB,regularTripSample,irregularTripSample
0,1,ALTITUDE 100,ALTITUDE 100,242,4066
1,2,ALTITUDE 100,ANDERLECHT CENTRE - WAYEZ,9666,7490
2,3,ALTITUDE 100,ANNEESSENS,556,8981
3,4,ALTITUDE 100,AUDERGHEM CENTRE,9465,7964
4,5,ALTITUDE 100,AVENUE LEOPOLD III,7479,318

# Generate the random dataset

In [76]:
ngh_names = prox['originNB'].unique()
colnames = ['originNB', 'destinationNB', 'arrival_hr', 'regularTripSample', 'irregularTripSample']
data= pd.DataFrame(columns=colnames)
data.head()

for i in tqdm(ngh_names):
    temp_ = pd.DataFrame()
    temp_['originNB'] = [i for l in range(24*len(ngh_names))]
    temp_['destinationNB'] = np.repeat(ngh_names, 24) 
    temp_['arrival_hr'] = list(np.arange(0,24))*len(ngh_names)
    temp_['regularTripSample'] = pd.Series(np.random.randint(low=0, high=10000, size=24*len(ngh_names)))
    temp_['irregularTripSample'] = pd.Series(np.random.randint(low=0, high=10000, size=24*len(ngh_names)))
    
    data = data.append(temp_)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 139/139 [00:02<00:00, 47.34it/s]

In [77]:
#Save dataset
data.to_csv('../data/proximus/hourly_proximusFrequentTrip_RandomlyGenerated.csv', index=False)